<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <img src="logomini.png" alt="Smiley face" />
    <h1 class="display-3">Admin Web Page</h1>

    <div style="margin-bottom: 50px;">
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          total number of lessons
          <span class="badge badge-primary badge-pill"><%= timetables.length %></span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          total number of teachers
          <span class="badge badge-primary badge-pill">
            <%= teachers.length %></span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          total number of students
          <span class="badge badge-primary badge-pill"><%= students.length %></span>
        </li>
      </ul>
    </div>


    <div class="container">
      <div class="row">
        <ul class="list-group" style="margin-right: 10%;">

          <p>תלמידים </p>


          <% students.forEach(function(student){ %>
          <div class="card" style="width: 18rem;">
            <% if (student.pic) { %>
            <img src=<%= student.pic %> class="card-img-top" alt="..." />
            <% }  %>

            <% if (student.pic == undefined || student.pic == "") { %>
            <img src="https://i.imgur.com/jzAfnJ9.png" class="card-img-top" alt="..." />
            <% }  %>
            <div class="card-body">
              <h5 class="card-title"><%= student.email %></h5>
              <p class="card-text">
                <%= student.fullName %>


              </p>
            </div>
          </div>
          <% }) %>
        </ul>
        <ul class="list-group">

          <p>מורים </p>

          <% teachers.forEach(function(teacher){ %>
          <div class="card" style="width: 18rem;">
            <% if (teacher.pic) { %>
            <img src=<%= teacher.pic %> class="card-img-top" alt="..." />
            <% }  %>

            <% if (teacher.pic == undefined || teacher.pic == "") { %>
            <img src="https://i.imgur.com/jzAfnJ9.png" class="card-img-top" alt="..." />
            <% }  %>
            <div class="card-body">
              <h5 class="card-title"><%= teacher.email %></h5>
              <p class="card-text">
                <%= teacher.fullName %>
              </p>
            </div>
          </div>
          <% }) %>
        </ul>
      </div>
    </div>

    <hr />

    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
  </div>
</div>

<%- include('partials/footer') %>
